@using MiPrimeraAplicacionWeb.Models
@model LugarCLS


@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm("Adicionar", "Lugar", FormMethod.Post))
{
    <div class="row">

        <div class="col-md-6">


            <div>
                @Html.LabelFor(p => p.nombre)
                @*@Html.TextBoxFor(p => p.nombre, new { @class = "form form-control" })*@
                @Html.DropDownListFor(m => m.nombre, (SelectList)ViewBag.Nombre,null, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.descripcion)
                @Html.TextBoxFor(p => p.descripcion, new { @class = "form form-control" })
                @Html.ValidationMessage("descripcion", new { @class = "text-danger" })
            </div>

            <div>
                <input type="submit" class="btn btn-primary" value="Almacenar" />
            </div>


        </div>

    </div>

}

