@using MiPrimeraAplicacionWeb.Models
@model MarcaCLS

@{
    ViewBag.Title = "Adicionar";
}

<h2>Ha accedio a la vista Agregar de Clientes</h2>

@using (Html.BeginForm("Adicionar", "Marca", FormMethod.Post))
{
 
    <div>
        @Html.LabelFor(p => p.nombre)
        @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
        @Html.ValidationMessage("nombre", new {@class="text-danger" })
    </div>

    <div>
        @Html.LabelFor(p => p.descripcion)
        @Html.TextBoxFor(p => p.descripcion, new { @class = "form-control" })
        @Html.ValidationMessage("descripcion",new {@class="text-danger" })
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Almacenar" />
    </div>
  
   



}